[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "mpython-docs"]
	path = mpython-docs
	url = https://github.com/labplus-cn/mpython-docs.git
[submodule "port/lib/esp-adf"]
	path = port/lib/esp-adf
	url = https://github.com/espressif/esp-adf.git
